
.section{
  /* border: solid red 2px; */
  background-color: white;
  text-align: center;
  display: flex;
 
 
}
.section_1{
  width: 100%;
  height: auto;

  background-color: white;
  text-align: center;
   
 
}
.para_div1{
  text-align: center;
  margin: 5%;
  padding-left: 10%;
  padding-right: 10%;
}
.bt_1{
  padding: 3%;
  border-radius: 5%;
  border-color:  green ;
}

.img_div1{
  margin-left: 15%;
  width: 30%;
  height: auto;
}
.navbar{
  background-color: #61dafb;
  
  padding: 3%;
}
.main_div{
 padding-top: 2%;
  text-align: center;
  display: flex;
  column-gap: 2%;
}
.section_04{
  width: 15%;
}
.Profile{
  
  text-align: center;
  background-color: #61dafb;
  width: 15%;
  padding-left: 35%;
  padding-right: 55%;
  padding-top: 5%;
  height: 17vw;
  
}
.Trends{
  /* text-align: center; */
  background-color: #61dafb;
  width: 15%;
  padding: 45%;
  
  height: 3vw;
  
}
.follow{
  text-align: center;
  background-color: #61dafb;
  width: 15%;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 5%;
  height: 12vw;
  /* margin-right: 5%; */
}
.feed{
  background-color: #61dafb;
  width: 40%;
  padding-left: 10%;
  padding-right: 15%;
  padding-top: 8vw;
  height: 25vw;
 
}
